## Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
lib/
bin/
lib64
pyvenv.cfg

# PyInstaller
dist/
build/
*.spec

# Editor / IDE files
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# Python egg files
*.egg
*.egg-info/
.eggs/ 
